<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Michis</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      rel="shortcut icon"
      href="static/img/IconCat.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="title">
        <h1>Gatos Broh</h1>
      </div>
      <div class="options">
        <span>
          <h1>Angora</h1>
          <div class="info">
            <p>
              Su pelaje largo fue fruto de una mutación natural y no de la
              selección llevada a cabo por el hombre.
            </p>
          </div>
        </span>
        <span>
          <h1>Persa</h1>
          <div class="info">
            <p>
              Pueden durar entre 15 y 20 años, y aunque se distinguen por tener
              buena salud, son gatos que están predispuestos a tener riñón
              poliquístico.
            </p>
          </div>
        </span>
        <span>
          <h1>Siamés</h1>
          <div class="info">
            <p>
              El gato siamés es un excelente maullador, y aunque ya sabemos que
              todos los gatos tienen distintos maullidos para comunicarse, este
              ejemplar sobresale por encima de todos los demás.
            </p>
          </div>
        </span>
      </div>
    </header>
    <div class="body_text">
      <h1>¡LO QUE NECESITAS ES <br />UN GATO!</h1>
    </div>
    <div class="box-intro">
      <div class="card">
        <img src="/static/img/CardCat1.jpeg" alt="Cat1" />
        <h1 class="text-info-card">
          Los gatos tienen alrededor de 24 bigotes en el rostro que les ayudan a
          medir espacios.
        </h1>
      </div>
      <div class="card">
        <img src="/static/img/CardCat2.jpeg" alt="Cat1" />
        <h1 class="text-info-card">
          Los gatos pasan aproximadamente el 70% de sus vidas durmiendo.
        </h1>
      </div>
      <div class="card">
        <img src="/static/img/CardCat3.jpg" alt="Cat1" />
        <h1 class="text-info-card">
          Se ha demostrado que el ronroneo de un gato puede ayudar a reducir el
          estrés y la ansiedad en los humanos. ¡Una terapia felina!
        </h1>
      </div>
      <div class="card">
        <img src="/static/img/CardCat4.jpeg" alt="Cat1" />
        <h1 class="text-info-card">
          ¡Los gatos pueden saltar hasta cinco veces su propia altura en un solo
          salto!
        </h1>
      </div>
    </div>
    <div class="info-intro">
      <div class="reveal">
        <h3>Acerca de nuestros felinos</h3>
        <h2>Si tú vida tiene un felino, no perderas tú camino</h2>
        <h5>
          En cada rincón de nuestras instalaciones, hay historias de amor,
          pelusa, y ronroneos esperando a ser descubiertas. La adopción de un
          gato no solo cambia su vida, sino que también transforma la tuya de
          maneras inimaginables.
        </h5>
        <a href="#" style="text-decoration: none;">¡Cambia tú vida, Adopta!</a>
      </div>
    </div>
    <div class="section-image-info">
      <div class="section-image">
        <div class="reveal">
          <img src="/static/img/CatsFirstPlane.jpg" alt="Gatos" />
        </div>
      </div>
      <div class="upimage3D">
        <div class="reveal">
          <img src="/static/img/Cat3D.png" alt="Cat3D" style="width: 250px" />
        </div>
      </div>
    </div>
    <div class="body-info">
      <div class="reveal">
        <h1>Nuestros apoyos</h1>
        <h3>
          Estas son empresas las cuales han ayudado y colaborado con el apoyo a
          la <br />
          hora de la protección de nuestros felinos queridos
        </h3>
        <div class="info-enterprises">
          <div class="card-corporation">
            <div class="enterprise">
              <img
                src="/static/img/Channel1.png"
                alt="Channel1"
                style="width: 80px"
              />
              <h3>Canal 1</h3>
            </div>
            <h5>
              Canal 1 ha sido una de las empresas las cuales nos han brindado
              ¡más apoyo ecónomico y voluntario ante el arreglo de los refugios
              de nuestros felinos!
            </h5>
          </div>
          <div class="card-corporation">
            <div class="enterprise">
              <img
                src="/static/img/RedBull.png"
                alt="RedBull"
                style="width: 80px"
              />
              <h3>RedBull</h3>
            </div>
            <h5>
              A pesar de ser una empresa de bebidas energizantes, RedBull se ha
              consientisado acerca de las problematicas que enfrentas nuestros
              felinos día a día y poder apoyarnos
            </h5>
          </div>
        </div>
        <img
          src="/static/img/CatBakground.png"
          alt="CatBackground"
          style="width: 50%; opacity: 0.4"
        />
      </div>
    </div>
    <div class="entry-foundation">
      <div class="reveal">
        <h1>¿¡Quieres apoyarnos!?</h1>
        <h2>
          Para poder apoyarnos deberas tener el corazon <br />más noble del
          mundo
        </h2>
        <div class="fondation-enter">
          <a href="#" style="text-decoration: none">¡Unirme!</a>
          <div class="theheart">
            <div class="heart">
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="name">Gatos Broh</div>
      <div class="text-finally">
        <h3>¡Gracias por tú permanencia!</h3>
        <div class="line"></div>
      </div>
      <div class="contenido">
        <span style="font-size: 25px"
          >Contacto
          <h6>andresfelipecvs@hotmail.com</h6>
          <h6>Tel: +57 301 271 7380</h6>
          <h6>Cra 20a #9a-57</h6>
          <h6>99201 Funza, Cundinamarca</h6>
        </span>
        <span style="font-size: 25px"
          >Social
          <a href=""><h6>Facebook</h6></a>
          <a href="https://www.instagram.com/andrescuevaz/"
            ><h6>Instagram</h6></a
          >
          <a href=""><h6>Threads</h6></a>
          <a href=""><h6>X</h6></a>
        </span>
      </div>
      <div class="text-finally">
        <div class="line"></div>
        <h6>© 2023 Creado por AndresitoRap</h6>
      </div>
    </div>

    <script>
      document.addEventListener("scroll", function () {
        var scrollPosition = window.scrollY;
        var newSize = 100 + scrollPosition / 30;
        document.body.style.backgroundSize = newSize + "%";
      });

      function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
          var windowHeight = window.innerHeight;
          var elementTop = reveals[i].getBoundingClientRect().top;
          var elementVisible = 150;

          if (elementTop < windowHeight - elementVisible) {
            reveals[i].classList.add("active");
          } else {
            reveals[i].classList.remove("active");
          }
        }
      }

      window.addEventListener("scroll", reveal);
    </script>
  </body>
</html>
